<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatisex.myblog.mapper.SysuserMapper" >
  <resultMap id="BaseResultMap" type="com.mybatisex.myblog.domain.Sysuser" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="passwd" property="passwd" jdbcType="VARCHAR" />
    <result column="operatorname" property="operatorname" jdbcType="VARCHAR" />
    <result column="dept" property="dept" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="isleader" property="isleader" jdbcType="VARCHAR" />
    <result column="iplist" property="iplist" jdbcType="VARCHAR" />
    <result column="checkip" property="checkip" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="operatetime" property="operatetime" jdbcType="VARCHAR" />
    <result column="lockstate" property="lockstate" jdbcType="VARCHAR" />
    <result column="unlocktime" property="unlocktime" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
  </resultMap>
</mapper>