<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" th:src="@{/webjars/vue/2.5.13/vue.js}" ></script>
    <!-- 引入样式 -->
    <link rel="stylesheet"  th:href="@{/webjars/element-ui/2.4.1/lib/theme-chalk/index.css}">
    <!-- 引入组件库 -->
    <script type="text/javascript" th:src="@{/webjars/element-ui/2.4.1/lib/index.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/vue-resource/1.3.4/dist/vue-resource.js}"></script>
</head>

<body th:fragment="menu">
<div id="app">
    <el-row class="tac">
        <el-col :span="24">
            <el-menu
                    class="el-menu-demo"
                    @open="handleOpen"
                    @close="handleClose"
                    @select="handleSelect"
                    text-color="#fff"
                    :default-active="asideActiveIndex"
                    active-text-color="#ffd04b"
                   >
                <template v-for="item in menu">
                    <el-submenu :index="item.id" v-if="item.type==='1'">
                        <template slot="title">
                            <i class="el-icon-menu"></i>
                            <span>{{item.label}}</span>
                        </template>
                        <tree-menu :children= "item.children"></tree-menu>
                    </el-submenu>
                    <el-menu-item v-else-if="item.type!=='2'" :index="item.id">
                        {{item.label}}
                    </el-menu-item>
                </template>
            </el-menu>
        </el-col>
    </el-row>
</div>
<template id="myNav">
    <div>
        <label  v-for="menu in children">
            <el-submenu :index="menu.id" v-if="menu.type==='1' ">
                <template slot="title">
                    <i class="el-icon-menu"></i>
                    <span>{{menu.label}}</span>
                </template>
                <tree-menu :children="menu.children"></tree-menu>
            </el-submenu>
            <el-menu-item v-else-if="menu.type==='0'" :index="menu.id">
                {{menu.label}}
            </el-menu-item>
        </label>
    </div>
</template>
<script id="indexJS" type="text/javascript"  th:src="@{/static/js/index.js}"></script>
</body>
</html>
