<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/webjars/vue/2.5.13/vue.js}" ></script>
    <!-- 引入样式 -->
    <link rel="stylesheet"  th:href="@{/webjars/element-ui/2.4.1/lib/theme-chalk/index.css}">
    <!-- 引入组件库 -->
    <script type="text/javascript" th:src="@{/webjars/element-ui/2.4.1/lib/index.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/vue-resource/1.3.4/dist/vue-resource.js}"></script>
</head>
<style>
    .el-tabs{
        height: 100%;
    }
    .el-tabs__content{
        height: 800px;
    }
    .el-tabs--border-card{
        height: 100%;
    }
    iframe{
        height: 100%;
    }
</style>
<body>
    <div id="userManager">
        <el-button>新增</el-button>
        <el-table
                :data="userData"
                border

                >
            <el-table-column
                    fixed
                    type="index"
                    >
            </el-table-column>
            <el-table-column
                    fixed
                    prop="userid"
                    label="ID"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="operatorname"
                    label="姓名"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="phone"
                    label="手机"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="description"
                    label="描述"
                    width="400">
            </el-table-column>
            <el-table-column
                    prop="isleader"
                    label="是否领导"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="operator"
                    label="创建者"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="operatetime"
                    label="创建时间"
                    width="120">
                <template slot-scope="scope">
                    <i class="el-icon-time"></i>
                    <span style="margin-left: 10px">{{ new Date(scope.row.operatetime) }}</span>
                </template>
            </el-table-column>
            <el-table-column
                    prop="lockstate"
                    label="状态"
                    width="120">
            </el-table-column>
            <el-table-column

                    label="操作"
                    width="200">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
                    <el-button type="text" size="small">编辑</el-button>
                    <el-button type="danger" size="small">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[10,100, 200, 300, 400]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
        <user-dialog :outerVisible="showDialog"></user-dialog>
    </div>

    <!-- 弹出框组件 -->
    <template id="userDialog">
        <el-dialog title="外层 Dialog" :visible.sync="outerVisible">
            <el-dialog
                    width="30%"
                    title="内层 Dialog"
                    :visible.sync="innerVisible"
                    append-to-body>
            </el-dialog>
            <div slot="footer" class="dialog-footer">
                <el-button @click="outerVisible = false">取 消</el-button>
                <el-button type="primary" @click="save">保 存</el-button>
            </div>
        </el-dialog>
    </template>

    <script>
        var userManager = new Vue({
            el:"#userManager",
            data:function () {
                return{
                    userData:[],
                    total:0,
                    currentPage:1,
                    pageSize:10,
                    showDialog:false,
                }
            },
            methods:{
                handleClick:function (row) {
                    console.info(row)
                },
                handleSizeChange(val) {
                    this.pageSize = val;
                    this.loadData();
                },
                handleCurrentChange(val) {
                    this.currentPage = val;
                    this.loadData();
                },
                loadData:function () {
                    var _this = this;
                    this.$http.get('listUser',{params:{pageSize:this.pageSize,pageNum:this.currentPage}}).then(function (res) {
                        _this.userData = res.data.list;
                        _this.total = res.data.total;
                    })
                }

            },
            mounted:function () {
                this.loadData();
            },
            components:{
                "userDialog":{
                    template:"#userDialog",
                    name:"userDialog",
                    props:["outerVisible"],
                    data:function () {
                        return{
                            innerVisible:false,
                        }
                    },
                    methods:{
                        save:function () {
                            console.info("save")
                        }
                    }
                }
            }


        });

    </script>
</body>
</html>